#tasks-container {
  padding-left: 0px;
}

#tasks-container .panel-heading ul > li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

#tasks-container .panel-heading ul > li > span:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
